@CHARSET "ISO-8859-1";

.knx-thermostat {
	
}

.knx-thermostat-actual { 
		color: green;
}

.knx-thermostat-actual-heating { 
		color: red;
}

.knx-thermostat-setpoint {
	font-size: 9px;
}

.knx-messagetoast {
  border: 2px solid #191919;
  padding: 3px;
  background: #F0F0F0;
}

.knx-messagetoast-alert {
  border: 2px solid #a50000;
}

.knx-thermostat-popup {
  border: 2px solid #191919;
  padding: 3px;
  background: #F0F0F0;
}
  
.knx-dimmedlight-popup {
  border: 2px solid #191919;
  padding: 3px;
  background: #F0F0F0;
}

.knx-dimmedlight-popup-label {
	padding: 3px;
}